// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// colors
$first-color: #FD4660;
$second-color: #215FAA;
$third-color: #2EBD59;
$gradient :linear-gradient(to right, $first-color, $second-color, $third-color);