.body {
	position: fixed;
	left: 0;
	padding-inline: 2rem;
  // padding-block: 1.5rem;
	width: 100%;
  min-height:7rem;
	padding-bottom: 1rem;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), var(--first-color));
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  z-index: 100;

	.player {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
