@use "../../SassStyles/variables" as *;

.body {
	cursor: pointer;

	p,
	&.active {
		background: $gradient;
		background-size: 200% 200%;
		animation: gradient-text 2s ease-in-out infinite;
		-webkit-background-clip: text;
		background-clip: text;
		transition: 0.2s ease-in-out;

		&:hover,
		&.active {
			color: rgba(0, 0, 0, 0);
		}
	}
}


@keyframes gradient-text {
	0% {
		background-position: left;
	}
	50% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
}

