@use "../../../SassStyles/mixins" as *;

.body {
  display: none;
	align-items: center;
	gap: 5px;
	min-height: 50px;
	font-size: 32px;

	@include smMinBreakPoint {
		display: flex;
	}

	.slider {
		-webkit-appearance: none;
		height: 3px;
		border-radius: 5px;
		background: black;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: black;
			cursor: pointer;
		}

		&::-moz-range-thumb {
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: black;
			cursor: pointer;
		}
	}
}
