@use "../../SassStyles/mixins" as *;

.body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	height: 90px;
	padding: 2rem;
	z-index: 999;

	>ul {
		list-style: none;
		display: none;
		flex: 0.75;
		max-width: 600px;

		@include mdMinBreakPoint {
			justify-content: space-between;
			display: flex;
		}
	}

	.music-brands {
		display: flex;
		justify-content: space-between;
		max-width: 160px;
		flex: 1;
	}

	.mobile-menu {
		display: block;
		width: 25px;
		@include mdMinBreakPoint {
			display: none;
		}
	}
}
