@use "../../SassStyles/mixins" as *;

.body {
	cursor: pointer;

	font-size: 30px;

	@include mdMinBreakPoint {
		font-size: 16px;

		& ::after {
			display: none;
		}
	}

	a::after {
		content: "";
		position: absolute;
		width: 80%;
		height: 5px;
		bottom: -5px;
		transition: 0.2s ease-in-out;
	}

	&:nth-child(even) a {
		position: relative;
		padding-left: 20%;

		@include mdMinBreakPoint {
			padding-left: 0;
		}

		&::after {
			left: 20%;
			border-radius: 0 0 0 5px;
		}
	}

	&:nth-child(odd) a {
		text-align: right;
		position: relative;
		padding-right: 20%;

		&::after {
			right: 20%;
			border-radius: 0 0 5px 0;
		}
	}

	&:hover a::after,
	&.active a::after {
		background: var(--gradient);
		background-size: 200% 200%;
		animation: gradient-text 2s ease-in-out infinite;
		transition: 0.2s ease-in-out;
	}

	a,
	&.active {
		display: block;
		background: var(--gradient);
		background-size: 200% 200%;
		font-weight: 500;
		animation: gradient-text 2s ease-in-out infinite;
		-webkit-background-clip: text;
		background-clip: text;
		transition: 0.2s ease-in-out;

		&:hover,
		&.active {
			color: rgba(0, 0, 0, 0);
		}
	}
}

@keyframes gradient-text {
	0% {
		background-position: left;
	}
	50% {
		background-position: right;
	}
	100% {
		background-position: left;
	}
}
