@use "../../../SassStyles/mixins" as *;

.body {
  display: flex;
  max-width: 350px;
  min-width: 200px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  svg {
    font-size: 2.5em;
    cursor: pointer;
    transition: 0.2s;

    .play, .pause {
      font-size: 3em;
      animation: scaleIn 0.2s ease-in-out forwards;
    }

    .loop,.shuffle{
      font-size: 2em;
      color: rgba(255, 255, 255, 0.4);

      &.active {
        color: white;
      }
    }
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}