@use "../../SassStyles/mixins" as *;

.body {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;

	@include lgMinBreakPoint {
		justify-content: space-between;
		gap: 4rem;
	}


	> div {
		flex: 1;
	}

	.image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		background-color: rgba(248, 248, 255, 0.136);
		max-width: 450px;
		min-width: 250px;
		
		@include smMinBreakPoint {
			min-width: 350px;
			padding: 1rem;
		}
		@include mdMinBreakPoint {
			padding: 3rem;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding-block: 2rem;

		@include lgMinBreakPoint {
			align-items: flex-start;
		}
		h2 {
			font-size: 20px;
			text-transform: uppercase;
			letter-spacing: 3px;
		}

		.title {
			font-size: 48px;
			font-weight: 600;
		}

		.lyrics {
			color: rgba(255, 255, 255, 0.8);
			max-width: 600px;
		}
	}
}
